@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital@1&display=swap');
    
    * {
        margin: 0;
        padding: 0;
        border: 0;
    }

    body{
        height: auto 100%;
        background-color: black;
        color: rgb(180, 0, 0);
        background: url(imges/backIndex.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        font-family: 'Playfair Display SC', serif;
    }

    a{
        text-decoration: none;
    }

  
    .container {
        background: rgb(111,5,5);
        background: linear-gradient(90deg, rgba(111,5,5,0.8183648459383753) 0%, rgba(41,4,4,0.835171568627451) 54%, rgba(0,0,0,0.7763480392156863) 100%);
        width: 90vh;
        height: 90vh;
        background-color: rgba(230, 230, 230, 0.082);
        display: flex;
        justify-content: center;
        border-radius: 10px;
        margin-top: 15px;
        align-items: center;
        justify-items: center;
        flex-direction: column;
    }
    .container .titulo{
        margin-top: 40px;
        margin-bottom: 50px;
        align-items: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .titulo h1{
        font-size: 70px;
        font-weight: 1000;
        margin-bottom: 40px;
    }

    .titulo li{

        font-size: 40px;
        list-style: none;
        font-weight: 600;
        margin-bottom: 50px;
        text-align: center;
        width: 100%;
        border-bottom: 4px solid rgba(255, 255, 255, 0.356);
        cursor: pointer;
    
    }

    .titulo li:hover{
        font-size: 41px;
        font-family: 1000;
        border-radius: 5px;
        width: 100%;
        background-color: red;
        color: white;
        text-align: center;
        transition: all ease-in-out 400ms;

    }

    .footer {

        height: 30px;
        width: 100%;
        background-color: rgb(165, 12, 12);
        color: white;
        bottom: 0;
        position: fixed;
        text-align: center;
        opacity: 30%;
    }



    .container .mode{
        margin-top: 40px;
        margin-bottom: 50px;
        align-items: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .mode h1{
        font-size: 50px;
        font-weight: 1000;
        margin-bottom: 40px;
    }

    .mode li{

        font-size: 30px;
        list-style: none;
        font-weight: 600;
        margin-bottom: 50px;
        text-align: center;
        width: 100%;
        border-bottom: 4px solid rgba(255, 255, 255, 0.356);
    
    }

    .mode li:hover{
        font-size: 41px;
        font-family: 1000;
        border-radius: 5px;
        width: 100%;
        background-color: red;
        color: white;
        text-align: center;
        transition: all ease-in-out 200ms;

    }

    